<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwdnFX0t3JR8WxhnftLpSUFaF2jvPdzUA</string>
	<key>GCM_SENDER_ID</key>
	<string>267633697284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.givagi9108.journal</string>
	<key>PROJECT_ID</key>
	<string>notes-d520e</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-d520e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267633697284:ios:9eb3c5d2914bde10f98b51</string>
</dict>
</plist>